.author-host {
  border-top: 1px solid rgba($dark-blue, 0.5);
  border-bottom: 1px solid rgba($dark-blue, 0.5);
  min-height: auto;
  padding-bottom: 83px;

  @media #{$screen-992} {
    min-height: 352px;
    padding-bottom: 0;
  }
}

.author-host__inner {
  display: flex;
  position: relative;
}

.author-host__author {
  border-right: 1px solid rgba($dark-blue, 0.5);
  border-bottom: 1px solid rgba($dark-blue, 0.5);
  padding-right: 8px;
  flex-grow: 1;
  padding-left: 15px;

  @media #{$screen-390} {
    padding-left: 30px;
  }

  @media #{$screen-500} {
    padding-right: 57px;
  }

  @media #{$screen-992} {
    border-bottom: none;
  }

}

.author-host__host {
  border-bottom: 1px solid rgba($dark-blue, 0.5);
  padding-left: 8px;
  flex-grow: 1;
  padding-right: 15px;

  @media #{$screen-390} {
    padding-right: 30px;
  }

  @media #{$screen-500} {
    padding-left: 30px;
  }

  @media #{$screen-992} {
    border-left: 1px solid rgba($dark-blue, 0.5);
    border-bottom: none;

  }

  @media #{$screen-1280} {
    padding-left: 60px;
  }
}

.author-host__link-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-host__author,
.author-host__host,
.author-host__link-box {
  width: 600px;
}

.author-host__author,
.author-host__host {
  padding-top: 31px;
  padding-bottom: 63px;

  @media #{$screen-992} {
    padding-bottom: 97px;
  }

}

.author-host__author-title,
.author-host__host-title {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: $dark-blue;
  margin-bottom: 22px;
  max-width: 333px;

  @media #{$screen-768} {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 33px;
  }

  @media #{$screen-992} {
    color: $black;
  }
}

.author-host__author-title,
.author-host__author-text {
  margin-left: auto;
}

.author-host__author-text, 
.author-host__host-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  max-width: 333px;

  @media #{$screen-430} {
    font-size: $font-size-small;
    line-height: 22px;
  }

  @media #{$screen-500} {
    font-size: $font-size-normal;
    line-height: 24px;
  }

  @media #{$screen-768} {
    font-size: $font-size-medium;
    line-height: 26px;
  }

  @media #{$screen-992} {
    font-size: $font-size-large;
    line-height: 30px;
  }
}

.author-host__link-box {
  display: none;

  @media #{$screen-992} {
    display: flex;
  }
}

.author-host__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  color: $white;
  background-color: $gold;
  border-radius: 50%;
  font-family: $font-family-secondary, serif;
  font-style: italic;
  font-weight: 500;
  font-size: 0;
  line-height: 0;
  transition: font-size 0.3s;
  // position: relative;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media #{$screen-992} {
    font-size: $font-size-large;
    line-height: 27px;
    width: 163px;
    height: 163px;
    top: 50%;
    left: 51%;
    // transform: translate(-50%, -50%);

  }

  &::before {
    position: absolute;
    content: "";
    width: 122px;
    height: 122px;
    top: -27px;
    left: -28px;
    background-image: url("@img/circle-text-mob.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 25s linear infinite;
    z-index: -1;

    @media #{$screen-992} {
      width: 290px;
      height: 290px;
      top: -64px;
      left: -64px;
      background-image: url("@img/circle-text.svg");
    }
  }

  &:hover {
    @media #{$screen-992} {
      font-size: 21px;
    }
  }
}
