.body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-family-default;
  font-weight: 300;
  font-size: $font-size-normal;
  line-height: 19px;
  color: $black;
  background-color: $white;
  background-image: url("@img/bg-noise.png");
}

.body__button-up {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 15px;
  width: 50px;
  height: 50px;
  font-family: $font-family-secondary, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  color: $black;
  border: 1px solid $dark-blue;
  border-radius: 50%;
  background-color: rgba($gold, 0.2);
  cursor: pointer;
  z-index: 99999;

  @media #{$screen-390} {
    right: 30px;
  }

}