.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;


  @media #{$screen-390} {
    max-width: 1480px;
    padding: 0 30px;
  }
  // @media #{$tablet} {
  //   padding: 0 50px;
  // }
}

//     @media (max-width:1200px){
//         max-width: 970px;
//     }

//     @media (max-width:992px){
//         max-width: 750px;
//     }

//     @media (max-width:767px){
//         max-width: none;
//         padding: 0 10px;
//     }
// }