.contact {
  position: relative;
  border-bottom: 1px solid rgba($dark-blue, 0.5);

  &:before {
    @media #{$screen-992} {
      position: absolute;
      content: "";
      width: 425px;
      height: 505px;
      top: 0;
      left: 17px;
      background-image: url("@img/contact-bg-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("@img/contact-bg-1@2x.png");
    }
  }

  &:after {
    @media #{$screen-992} {
      position: absolute;
      content: "";
      width: 496px;
      height: 590px;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-image: url("@img/contact-bg-2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("@img/contact-bg-2@2x.png");
    }
  }
}

.contact__inner {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 90px;

  @media #{$screen-768} {
    padding: 60px 60px 90px;
  }

  @media #{$screen-992} {
    border-left: 1px solid rgba($dark-blue, 0.5);
    border-right: 1px solid rgba($dark-blue, 0.5);
    padding: 120px 150px 188px;
    max-width: 996px;
  }
}

.contact__form-wrapper {
  background-color: rgba($gold, 0.1);
  padding: 30px 30px 80px;
  position: relative;

  @media #{$screen-768} {
    padding: 60px 100px 80px;
  }

  @media #{$screen-992} {
    padding: 80px 147px 109px;
  }
}

.contact__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 40px;
  color: $gold;
  text-align: center;

  @media #{$screen-768} {
    font-size: 35px;
    line-height: 55px;
  }

  @media #{$screen-992} {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 77px;
  }
}
