.form__input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  @media #{$screen-768} {
    margin-bottom: 33px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input-field,
.form__select {
  width: 100%;
  border: none;
  border-bottom: 1px solid $gray;
  background-color: transparent;
  font-weight: 300;
  font-size: $font-size-normal;
  line-height: 24px;
  color: $black;
  margin-bottom: 10px;
  outline: none;
  padding: 0;
  padding-bottom: 1px;
  transition: border-color 0.3s;

  @media #{$screen-768} {
    margin-bottom: 15px;
    font-size: $font-size-medium;
    line-height: 27px;
  }

  &:focus {
    padding-bottom: 0;
    border-bottom: 2px solid $gold;
  }
}

.form__input-legend {
  font-family: $font-family-secondary, serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: $black;
}

.form__button {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background-color: $gold;
  font-family: $font-family-secondary, serif;
  font-style: italic;
  font-weight: 500;
  font-size: $font-size-normal;
  line-height: 18px;
  color: $white;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  right: 47px;
  transition: font-size 0.3s;

  @media #{$screen-992} {
    right: 8px;
    width: 100px;
    height: 100px;
    font-size: $font-size-large;
    line-height: 27px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 105px;
    height: 105px;
    top: -22px;
    left: -22px;
    background-image: url("@img/contact-me-circle-mob.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 25s linear infinite;
    z-index: -1;

    @media #{$screen-992} {
      width: 175px;
      height: 175px;
      top: -37px;
      left: -37px;
      background-image: url("@img/contact-me-circle.svg");
    }
  }

  &:hover {
    font-size: 17px;

    @media #{$screen-992} {
      font-size: 22px;
    }
  }
}
