.hero {
  padding-top: 80px;
  background-image: url("@img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 210px;
}

.hero__inner {
  text-align: center;
}

.hero__title {
  font-weight: 400;
  font-size: 100px;
  line-height: 136px;
  color: $black;
  margin-bottom: 36px;
}

.hero__subtitle {
  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  color: $black;
  margin-bottom: 80px;
}

.hero__image {
  width: 100%;
}