.hero {
  padding-top: 30px;
  background-image: url("@img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: 0 210px;
  
  @media #{$screen-768} {
    padding-top: 50px;
  }

  @media #{$screen-992} {
    padding-top: 60px;
  }

  @media #{$screen-1280} {
    padding-top: 80px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("@img/hero-bg@2x.png");
  }
}

.hero__inner {
  text-align: center;
}

.hero__title {
  color: $black;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 8px;
 
  @media #{$screen-768} {
    font-size: 50px;
    line-height: 76px;
    margin-bottom: 20px;
  }

  @media #{$screen-992} {
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 26px;
  }

  @media #{$screen-1280} {
    font-size: 100px;
    line-height: 136px;
    margin-bottom: 36px;
  }
}

.hero__subtitle {
  font-weight: 300;
  color: $black;
  font-size: $font-size-large;
  line-height: 27px;
  margin-bottom: 30px;

  @media #{$screen-768} {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 35px;
  }
  
  @media #{$screen-992} {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 50px;
  }

  @media #{$screen-1280} {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 80px;
  }
}

.hero__image {
  width: 100%;
}