.link {
  font-family: $font-family-secondary, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: $black;
  padding-left: 36px;
  padding-right: 27px;
  position: relative;
  transition: all 0.3s;

  @media #{$screen-768} {
    font-size: $font-size-normal;
    line-height: 22px;
  }

  &:hover {
    padding-left: 50px;
    padding-right: 32px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    left: 0;
    top: -27px;
    background-image: url("@img/icons/ellipse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media #{$screen-768} {
      width: 74px;
      height: 82px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 6px;
    right: 0;
    top: 4px;
    background-image: url("@img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media #{$screen-768} {
      top: 8px;
    
    }
  }

  &--rounded {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 163px;
    width: 163px;
    color: $white;
    background-color: $gold;
  }
}
