.real-property {
  padding: 30px 0 60px;
  border-bottom: 1px solid rgba($dark-blue, 0.5);

  @media #{$screen-768} {
    padding: 60px 0 90px;
  }

  @media #{$screen-992} {
    padding: 115px 0 215px;
  }
}

.real-property__container {
  max-width: 1748px;
  margin: 0 auto;
  padding: 0 15px;

  @media #{$screen-390} {
    max-width: 1778px;
    margin: 0 auto;
    padding: 0 30px;
  }


}

.real-property__inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media #{$screen-992} {
    gap: 30px;
  }

  @media #{$screen-1280} {
    flex-wrap: wrap;

  }
  @media #{$screen-1530} {
    gap: 50px;
  }
  
  @media #{$screen-1600} {
    gap: 104px;
  
  }

  &::after {
    z-index: 9999;
    position: absolute;
    content: "";
    width: 93px;
    height: 93px;
    bottom: -46px;
    right: 21px;
    margin-left: -121px;
    background-image: url("@img/soon-circle-mob.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate-back 25s linear infinite;

    @media #{$screen-768} {
      // width: 242px;
      // height: 242px;
      right: 0;
      bottom: -49px;
      left: 421px;
      // background-image: url("@img/soon-circle.svg");
    }

    @media #{$screen-992} {
      width: 242px;
      height: 242px;
      bottom: -121px;
      left: 378px;
      background-image: url("@img/soon-circle.svg");
    }
    @media #{$screen-1280} {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.real-property__col {
  // margin: 0 -15px;

  // @media #{$screen-390} {
  //   margin: 0 -30px;
  // }


  @media #{$screen-768} {
    // flex-basis: 345px;
    width: 345px;
    margin: 0;
  }

  @media #{$screen-992} {
    // flex-basis: 381px;
    width: 381px;
  }


  &:first-child {
    display: none;

    @media #{$screen-1280} {
      display: block;
    }
  }

  &:nth-child(2){
    @media #{$screen-768} {
      flex-shrink: 0;
    }
  }

  &:last-child {

  }
}

.real-property__col--slidered {
  width: 100%;

  @media #{$screen-768} {
    flex-grow: 1;
    width: 0;
  }
}

.real-property__image {
  transition: filter 0.3s;
  width: 100%;

  @media #{$screen-1280} {
    filter: grayscale(100%);
  }

  &:hover {
    filter: grayscale(0);
  }

  &--first {
    @media #{$screen-1280} {
      //  margin-bottom: 109px;
      margin-bottom: 30px;
    }

    @media #{$screen-1530} {
      margin-bottom: 50px;
    }
    @media #{$screen-1600} {
      margin-bottom: 104px;
    }
  }

  &--portrait {
    display: none;
    filter: none;

    @media #{$screen-992} {
      display: block;
    }
  }
}

.real-property__info {
  // margin-bottom: 0px;

  
  @media #{$screen-768} {
    // position: static;
    margin-bottom: 62px;
  }
}

.real-property__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: $gold;
  // margin-left: 15px;
  margin-bottom: 30px;

  @media #{$screen-390} {
    // margin-left: 30px;
  }

  @media #{$screen-768} {
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 35px;
    line-height: 55px;
  }

  @media #{$screen-992} {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 48px;
  }
}

.real-property__blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  padding-left: 25px;
  position: absolute;
  top: 83px;
  right: 0;
  z-index: 9999;
  max-width: 260px;

  @media #{$screen-390} {
    top: 100px;
    right: 30px;

  }
  @media #{$screen-500} {
    font-size: $font-size-normal;
    line-height: 24px;
    max-width: 350px;

  }

  @media #{$screen-768} {
    position: relative;
    font-size: $font-size-medium;
    line-height: 26px;
    padding-right: 10px;
    padding-left: 45px;
    top: 0;
    right: 0;
  }

  @media #{$screen-992} {
    font-size: $font-size-large;
    line-height: 30px;
    
  }

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-image: url("@img/icons/blockquotes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$screen-768} {
      top: -15px;
      width: 30px;
      height: 30px;
    }
  }
}

.real-property__slider {
  display: block;
  min-width: 0;

  @media #{$screen-1280} {
    display: none;
  }
}

.real-property__slider-box {
  display: none;

  @media #{$screen-1280} {
    display: block;
  }
}
