.real-property {
  padding: 115px 0 215px;
  border-bottom: 1px solid rgba($dark-blue, 0.5);
}

.real-property__container {
  max-width: 1748px;
  margin: 0 auto;
  padding: 0 15px;
}

.real-property__inner {
  display: flex;
  gap: 104px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 242px;
    height: 242px;
    bottom: -121px;
    left: 50%;
    margin-left: -121px;
    background-image: url("@img/soon-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate-back 25s linear infinite;
  }
}

.real-property__col {
  flex-basis: 381px;

  &:last-child {
    flex-grow: 1;
  }
}

.real-property__image {
  &--first {
    margin-bottom: 109px;
  }
}

.real-property__info {
  margin-bottom: 62px;
}

.real-property__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  color: $gold;
  margin-bottom: 48px;
}

.real-property__blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: $font-size-large;
  line-height: 30px;
  padding-left: 45px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-image: url("@img/icons/blockquotes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
