//  === Screen widths  ===
$screen-390: "(min-width: 390px)";
$screen-430: "(min-width: 430px)";
$screen-500: "(min-width: 500px)";
$screen-768: "(min-width: 768px)";
$screen-840: "(min-width: 840px)";
$screen-992: "(min-width: 992px)";
$screen-1024: "(min-width: 1024px)";
$screen-1280: "(min-width: 1280px)";
$screen-1440: "(min-width: 1440px)";
$screen-1530: "(min-width: 1530px)";
$screen-1600: "(min-width: 1600px)";
$screen-1650: "(min-width: 1650px)";
$screen-1700: "(min-width: 1700px)";
$screen-1750: "(min-width: 1750px)";

//  === Colors ===
$white: #ffffff;
$black: #000000;
$dark-blue: #002b60;
$gold: #d5a459;
$gray: #c4c4c4;

// === Fonts ===
$font-family-default: "Poppins", sans-serif;
$font-family-secondary: "NotoSerifDisplay", serif;

// === Fonts sizes ===
$font-size-normal: 16px;

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-extraSmall: 12px;

// === Line heights ===
$line-height-normal: 20px;

$line-height-large: 24px;
$line-height-medium: 22px;
$line-height-small: 18px;
$line-height-extraSmall: 16px;


// === Fonts colors  ===
$text-main-color: $black;